body{
    background-color:white;
    font-family: 'Roboto', sans-serif;
}
.signup-box{
    width: 360px;
    height: 700px;
    margin-left: 50px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.login-box{
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 3px;
    background-color:white ;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 60px;
    padding-top: 70px;
}
h4{
    text-align: center;
}
form{
    width: 400px;
    margin-left: 20px;

}
form label{
    display: flex;
    margin: 10px;
    font-size: 25px;
}
form input{
    width: 450px ;
    height: 40px;
    padding: 7;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    text-align: center;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 50px;
    margin-block: 50px;
    margin-left: 40px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
p{
    text-align: center;
    padding-top: 10px;
    font: 15px;
}
.para-2{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;

}
.para-2 a{
    color: rgb(24, 30, 204);
}